/*----------------------------------------PRODUCT PAGE DESIGN-------------------------------------
-------------------------------------------------------------------------------------------------*/
#productPage {
    /* background: #e7fff546; */
    background: white;
}
.card {
    border: 0px;
    /* background: #e0e7fd3a !important; */
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s all;
    -webkit-transition: transform 0.3s all;
    -moz-transition: transform 0.3s all;
    -ms-transition: transform 0.3s all;
    -o-transition: transform 0.3s all;
}
.card-title {
    font-size: 18px;
    font-weight: 400;
}
.card-price {
    font-size: 20px;
    font-weight: 600;
    color: #0f5795;
}
.card:hover {
    /* border: 1px solid #558cc7; */
    box-shadow: 0px 0px 15px #3a3a3a57;
    border: 0px !important;
}
.img-container {
    width: 100%;
    max-height: 160px;
    overflow: hidden;
}
.card-image {
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card-image:hover {
    transform: scale(1.05);
}
.category-btn {
    margin: 3px;
    padding: 10px;
    border: none;
    background-color: #adcfee7f;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category-btn {
    color: #000;
    border-radius: 5px;
    /* transition: background-color 0.3s; */
}
.category-btn:hover {
    background-color: #4d82bb;
    color: #fff;
}
.category-btn.active {
    background-color: #2260a2;
    color: #fff;
}
/*--------------------------------PRODUCT DETAILS PAGE DESIGN-------------------------------------
-------------------------------------------------------------------------------------------------*/
#displayImg {
    transition: opacity 0.3s ease-in-out;
}
#displayImg.fade {
    opacity: 0;
}
.productDetail:hover {
    background: #558cc7 !important;
    color: #fff !important;
}
.AddToCart {
    font-size: 15px;
}
.AddToCart:hover {
    background: #2f4862 !important;
    color: #fff !important;
}
.color-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fff;
    transition: border 0.3s;
}
.form-check-input:checked + .color-radio {
    border: 4px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.quantity {
    width: 25%;
}
#displayImg {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
    transition: 0.5s ease-in-out;
}
#pagination .pagination-img {
    max-width: 100px;
    max-height: 100px;
    margin: 9px;
    cursor: pointer;
    border-radius: 5px;
}
.page-title {
    position: relative;
}
.page-title::after {
    content: "";
    background: linear-gradient(90deg, #875eed -26.01%, #4f80f1 121.7%);
    border-radius: 15px;
    position: absolute;
    bottom: -17px;
    left: calc(50% - 50px);
    width: 100px;
    height: 5px;
}
/*----------------------------------------MEDIA QUERIES-------------------------------------------
-------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {
    .product-description .product-title {
        font-size: 15px;
    }
    #displayImg {
        max-height: 300px;
    }
    #pagination .pagination-img {
        max-width: 40px;
        max-height: 40px;
        margin: 3px;
    }
}
@media screen and (max-width: 530px) {
    .quantity {
        width: 50%;
    }
    #pagination .pagination-img {
        width: 70px;
        height: 70px;
        margin: 7px;
    }
    .card-title {
        font-size: 13px;
    }
    .card-price {
        font-size: 15px;
    }
}
@media screen and (max-width: 990px) {
    .quantity {
        width: 55%;
    }
    #pagination .pagination-img {
        width: 80px;
        height: 80px;
        margin: 3px;
    }
}
