@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    transition: 0.2s;
}
.reguler-btn {
    background: rgba(83, 63, 106, 0.884);
}
nav {
    background: #273153;
}
nav .nav-item .nav-link {
    color: #ffffff86;
}
nav .nav-item .nav-link.active {
    color: #ddd;
    font-weight: 600;
    /* background: #bcacac11; */
    /* border-bottom: 2px solid #fff; */
    text-shadow: #6c85d8;
    /* border-radius: 5px; */
}
#desktopCartButton,
#mobileCartOffcanvas {
    font-size: 1.3rem;
    border: 1px solid #37373873;
}
#ShoppingBagCounter {
    font-size: 17px;
    color: rgb(171, 255, 3);
}
footer p {
    color: #b2b1b1;
}
footer p a {
    color: #ffffff7d;
}
